@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mycyan: #58B8C7;
	--mygreen: #57B279;
	--dark: #222222;
	--myslate: #364153;
	--mygray: #F3F2Ef;
}

body {
	color: var(--dark);
	background: white;
	line-height: 1.6;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 2;
}

.font-shadow {
	filter: drop-shadow(0 1.2px 1.2px rgba(0, 0, 0, 0.8))
}

.button {
	border: 2px solid;
	transition-duration: 300ms;
	background: transparent;
}


.helper {
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.icon {
	filter: grayscale();
	transition-delay: 50ms;

	&:hover {
		filter: grayscale(0);
	}
}


.navlink {
	position: relative;
	transition: color .3s ease-in-out;

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: 3px;
		background-color: var(--mygreen);
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}

	&:hover {
		color: var(--dark);
	}

	&:hover::before {
		transform: scaleX(1);
	}
}
